include README.rst
include ecocyc-logo.jpg
include data/E_coli_K12/ver2/ACKNOWLEDGMENTS
include data/E_coli_K12/ver2/curated_list_of_sRNA_mRNA_interactions.txt
include data/E_coli_K12/ver2/draw_links.conf
include data/E_coli_K12/ver2/ec_karyotype.conf
include data/E_coli_K12/ver2/EcoCyc_genes_190.gff
include data/E_coli_K12/ver2/EcoCyc_transcripts_190.gff
include data/E_coli_K12/ver2/ecoli-COLI-K12.fsa
include data/E_coli_K12/ver2/genes.dat
include data/E_coli_K12/ver2/genome.fa
include data/E_coli_K12/ver2/promoters.dat
include data/E_coli_K12/ver2/refseq_ver2_genes_chr.gff.gz
include data/E_coli_K12/ver2/REP_elements_table_from_SmartTrables.txt
include data/E_coli_K12/ver2/rRNAs_highlight.txt
include data/E_coli_K12/ver2/sRNAs_highlight_wide.txt
include data/E_coli_K12/ver2/terminators.dat
include data/E_coli_K12/ver2/tRNAs_highlight_wide.txt
include data/E_coli_K12/ver3/ACKNOWLEDGMENTS
include data/E_coli_K12/ver3/corrected_ecoli-COLI-K12.fsa
include data/E_coli_K12/ver3/EcoCyc_genes_200.gff
include data/E_coli_K12/ver3/EcoCyc_transcripts_200.gff
include data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa
include data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.amb
include data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.ann
include data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.bwt
include data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.pac
include data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.sa
include data/E_coli_K12/ver3/genes.dat
include data/E_coli_K12/ver3/promoters.dat
include data/E_coli_K12/ver3/refseq-ver3-from-feature.ptt.gz
include data/E_coli_K12/ver3/terminators.dat
