include README.rst
include ecocyc-logo.jpg
incdlue data/E_coli_K12/ver2/ACKNOWLEDGMENTS
incdlue data/E_coli_K12/ver2/curated_list_of_sRNA_mRNA_interactions.txt
incdlue data/E_coli_K12/ver2/draw_links.conf
incdlue data/E_coli_K12/ver2/ec_karyotype.conf
incdlue data/E_coli_K12/ver2/EcoCyc_genes_190.gff
incdlue data/E_coli_K12/ver2/EcoCyc_transcripts_190.gff
incdlue data/E_coli_K12/ver2/ecoli-COLI-K12.fsa
incdlue data/E_coli_K12/ver2/genes.dat
incdlue data/E_coli_K12/ver2/genome.fa
incdlue data/E_coli_K12/ver2/promoters.dat
incdlue data/E_coli_K12/ver2/refseq_ver2_genes_chr.gff.gz
incdlue data/E_coli_K12/ver2/REP_elements_table_from_SmartTrables.txt
incdlue data/E_coli_K12/ver2/rRNAs_highlight.txt
incdlue data/E_coli_K12/ver2/sRNAs_highlight_wide.txt
incdlue data/E_coli_K12/ver2/terminators.dat
incdlue data/E_coli_K12/ver2/tRNAs_highlight_wide.txt
incdlue data/E_coli_K12/ver3/ACKNOWLEDGMENTS
incdlue data/E_coli_K12/ver3/corrected_ecoli-COLI-K12.fsa
incdlue data/E_coli_K12/ver3/EcoCyc_genes_200.gff
incdlue data/E_coli_K12/ver3/EcoCyc_transcripts_200.gff
incdlue data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa
incdlue data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.amb
incdlue data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.ann
incdlue data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.bwt
incdlue data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.pac
incdlue data/E_coli_K12/ver3/ecoli-k12-MG1655-NC_000913-3.fa.sa
incdlue data/E_coli_K12/ver3/genes.dat
incdlue data/E_coli_K12/ver3/promoters.dat
incdlue data/E_coli_K12/ver3/refseq-ver3-from-feature.ptt.gz
incdlue data/E_coli_K12/ver3/terminators.dat
